JWT_KEY = 
MONGO_URI=
GOOGLE_OAUTH_CLIENT_ID_WEB =
GOOGLE_OAUTH_CLIENT_SECRET_WEB =
GOOGLE_OAUTH_REDIRECT_WEB=
SERVER_URL= 
PORT = 8000

#firebase-admin configuration
FIREBASE_TYPE="service_account"
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=,
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
